<!DOCTYPE html>
<html>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="Nom"[(ngModel)]="user.nom">
                    <input type="text" name="txt" placeholder="prénom" [(ngModel)]="user.prenom">
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">
                    <input type="text" name="datedenaissance" placeholder="Date de naissance" [(ngModel)]="user.datedenaissance">
                    <input type="text" name="universite" placeholder="Université" [(ngModel)]="user.universite">
                    <input type="text" name="annee" placeholder="Annee Univ" [(ngModel)]="user.anneeuniv">
                    <input type="text" name="identifiant" placeholder="Identifiant" [(ngModel)]="user.anneeuniv">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button (click)="onSignup()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="identifiant" placeholder="Identifiant" [(ngModel)]="user.anneeuniv">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="user.mdp">
					<button (click)="onLogin()">Login</button>
				</form>
			</div>
	</div>
</body>
</html>